<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" href="./js/aui/css/aui.css">
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <header class="aui-bar aui-bar-nav">笔记工具</header>
    <!--未登录-->
    <div class="hs-header aui-bg-indigo">
        <div class="hs-text-center">
            {% if (user.user_name)%}
            <img class="hs-circle-img" src="./images/user-face-default.png" alt="头像" width="100%;">
            <a href="./loginOut" style="color:#fff;">
                <span>登出 {{user.user_name}}</span>
            </a>
            {% else %}
            <a href="./login" style="color:#fff;">
                <img class="hs-circle-img" src="./images/user-face-default.png" alt="头像" width="100%;">
                <span>登陆/注册</span>
            </a>
            {% endif %}
        </div>
    </div>
    <!--登陆后-->
    <div class="aui-content aui-margin-b-15">
        <ul class="aui-list aui-list-in">
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-pencil"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">说明</div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-phone"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">意见反馈</div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-gear"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">设置</div>
                </div>
            </li>

        </ul>
    </div>
    <footer class="aui-bar aui-bar-tab" id="footer">
        <div class="aui-bar-tab-item aui-active" tapmode>
            <i class="aui-iconfont aui-icon-my"></i>
            <div class="aui-bar-tab-label">我的</div>
        </div>
        <div class="aui-bar-tab-item " tapmode>
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-bar-tab-label">首页</div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-star"></i>
            <div class="aui-bar-tab-label">收藏</div>
        </div>
    </footer>

    <script src="./js/zepto/dist/zepto.min.js"></script>
    <script src="./js/aui/script/api.js"></script>
</body>

</html>