<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DayUp工具记录工具</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.5.0/css/zui.min.css">
    <link rel="stylesheet" href="./css/base.css">
    <script src="./js/rem.js"></script>
</head>

<body>
    <div class="topbar">
        <div class="back"></div>
        <div class="title">导航条</div>
    </div>

    <div class="row" style="height:3rem;">
        <div class="col-xs-3" style="text-align: center;height: 100%;background-color:red;line-height: 1.53846154;">
            用户名:
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-7">
            <input type="text" class="form-control" placeholder="用户名">
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-3" style="text-align: center;line-height: 100%;">
            密码:
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-7">
            <input type="password" class="form-control" placeholder="密码">
        </div>
        <div class="col-xs-1"></div>
    </div>

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="//cdn.bootcss.com/zui/1.5.0/lib/jquery/jquery.js"></script>
    <script src="//cdn.bootcss.com/zui/1.5.0/js/zui.min.js"></script>
</body>

</html>