<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" href="./js/aui/css/aui.css">
</head>

<body>
    <header class="aui-bar aui-bar-nav">笔记工具</header>
    <ul class="aui-list aui-list-in">
        <li class="aui-list-header">
            我的笔记
        </li>
        {% for page in pages %}
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">
                    <a href={{ "/article?url="+page.page_url+ "&title"+page.page_title }}>{{ page.page_title }}</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <footer class="aui-bar aui-bar-tab" id="footer">
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-my"></i>
            <div class="aui-bar-tab-label">
                <a href="./">
                    我的
                </a>
            </div>
        </div>
        <div class="aui-bar-tab-item aui-activ" tapmode>
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-bar-tab-label">
                <a href="./home">笔记</a>
            </div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-star"></i>
            <div class="aui-bar-tab-label">收藏</div>
        </div>
    </footer>
    <script src="./js/zepto/dist/zepto.min.js"></script>
    <script src="./js/aui/script/api.js"></script>
</body>

</html>